@import "tailwindcss";

/* .container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
} */

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
padding: 0 1rem;

}


.mycontainer {
  max-width: 1440px;
  margin: 0 auto;
  width: 90%;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 12s linear infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}
